:root {
    --firstColor: #ffffff;
    --secondColor: #ff0000;
}

* {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: url("../img/questionBcg.jpeg") no-repeat center;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonal {
    display: flex;
    color: var(--firstColor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header-top {
    color: var(--secondColor);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.header-bottom {
    font-size: 2.5rem;
}

.slider {
    border: var(--firstColor) solid 1px;
    padding: 15px;
    position: relative;
    min-width: 700px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 150px;
    height: 100px;
    background-size: cover;
    border-radius: 50% 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-size: 1.7rem;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.rate {
    color: var(--secondColor);
    margin-bottom: 10px;
}

.quote { margin-bottom: 10px;}

.fontAwesome { color: var(--secondColor);}

.buttons { 
    color: var(--secondColor);
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}

.btn {
    font-size: 2rem;
    font-weight: 900;
    border-radius: 50% 50%;
    border: var(--secondColor) 1px solid;
    padding: 5px;
    cursor: pointer;
    transition: color 2s, background-color 2s;
}

.btn:hover {
    background-color: var(--secondColor);
    color: var(--firstColor);
}

.left {
    transform: translate(-120% ,-50%);
}

.right {
    transform: translate( 120% ,-50%);
}

