* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteContainer {
    background: yellow;
    max-width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background:  olivedrab;
    padding: 10px;
    font-size: 1.2rem;
    transition:  color 1s, background 1s
}

button:hover {
    background: white;
    color: gray;
}

.quote {
    margin-left: 8px;
    margin-top: 15px;
    font-size: 1.4rem;
    letter-spacing:0.05rem;
}

.author {
    color: olivedrab;
    align-self: flex-end;
}