:root {
    --pink: rgb(250, 18, 57)
}
* { margin: 0;
padding: 0;
box-sizing: border-box;
}
.container {
    background: url("img/headerBcg.jpeg") fixed center/cover no-repeat;
    height: 100vh;
    width: 100%;
}

.header {
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.brand {
    background: url("img/logo.svg") no-repeat center/cover;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.nav li{
    list-style: none;
    display: inline;
    color: var( --pink);
    margin-left: 5px;
    font-size: 1.2rem;
    cursor: poiner;
    transition: color 1s ease-in-out;
}

.nav li:hover {
    color: black;
}

.sells {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}

.contact {
    margin-right: 40px
}

.cart {
    border: 1px solid black;
    padding: 7px;
}

.home {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}

.home header {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.grandma {
    font-size: 3rem;
    color: var(--pink);
    font-weight: 600;
}

.home a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    border: 2px solid black;
    padding: 4px 12px;
}

.about {
    width: 100%;
    height: 50%;
    display: flex;
    background: rgb(236, 220, 220);
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: none;
}

.about-text {
    width: 30%;
    font-size: 0.8rem;
    margin-left: 10%;
}

.about-text header {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-text header span {
    color: var(--pink);
    margin-left: 8px;
}

.about-text p {
    margin-bottom: 5%;
}

.btn {
    border: 1px solid black;
    padding: 4px 10px;
    font-size: 1.2rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: var(--pink);
}

.about-text .btn {
    display: inline-block;
   
}

.about-image {
    width: 30%;
    height: 50%;
    position: relative;
    margin-right: 10%;
}

.about-image .image {
    width: 100%;
    height: 100%;
    background: url("./img/sweets-1.jpeg") center/cover;
    z-index: 10;
}

.about-image .image:before {
    content: '';
    border: 5px solid gold;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    left: -15px;
}

#store {
    background: rgb(168, 168, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#store header {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

#store header span {
    font-size: 3rem;
    margin-left: 5px;
    color: var(--pink);
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 25px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textual {
    border: 1px solid gray;
    display: flex;
}

.search {
    background: var(--pink);
    padding: 5px;
}

.textual input {
    padding: 5px;
    width: 300px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.image {
    width: 150px;
    height: 100px;
    background-size: cover;
    position: relative;
}

.mov-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: lightblue;
    padding: 8px;
    border-radius: 50% 0 0 0 ;
    font-size: 0.7rem;
    transition: display 1s ease-in-out;
    display: none;
}

.image-1 {
    background-image: url("./img/sweets-1.jpeg") ;
}

.image-2 {
    background-image: url("./img/cupcake-1.jpeg") ;
}

.image-3 {
    background-image: url("./img/cake-1.jpeg") ;
}

.image-4 {
    background-image: url("./img/doughnut-1.jpeg") ;
}

.image-5 {
    background-image: url("./img/sweets-2.jpeg") ;
}

.image-6 {
    background-image: url("./img/cupcake-2.jpeg") ;
}

.image-7 {
    background-image: url("./img/cake-2.jpeg") ;
}

.image-8 {
    background-image: url("./img/doughnut-2.jpeg") ;
}

.image-9 {
    background-image: url("./img/sweets-3.jpeg") ;
}

.image-10 {
    background-image: url("./img/cupcake-3.jpeg") ;
}

.image-11 {
    background-image: url("./img/cake-3.jpeg") ;
}

.image-12 {
    background-image: url("./img/doughnut-3.jpeg") ;
}

.item {
    display: flex;
    flex-direction: column;
}

.item-data {
    background: gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
