@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*, ::after, ::before { margin: 0; padding: 0; box-sizing: border-box;}
:root {
    --mainYellow: #ff8;
    --mainWhite: #fff;
    --mainPink: #ef7998;
    --mainBlack: #000;
    --headerHeight: 80px;
}
.container {
    background: var(--mainYellow);
    width: 100%;
    height: 100vh;
    font-family: 'Kaushan Script', cursive;
    position: relative;
}

/* Header */

.header {
    height: var(--headerHeight);
    width: 100%;
    background: var(--mainWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    background: url("img/logo.svg") no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.nav{
    list-style: none ;
    color: var(--mainPink);  
    font-size: 1.5rem;
}

.nav li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    transition: color 1s ease-in-out;
}

.nav li:hover {
    color: var(--mainBlack);
}

.right {
    display: flex;
    margin-right: 3rem;
    align-items: center;

}

.contact {
    margin-right: 5rem;
}

.cart {
    border: 1px solid var(--mainBlack);
    border-radius: 5px;
    padding: 0.7rem;
    transition: all 1s ease-in-out;
}

.cart:hover {
    color: var(--mainWhite);
    background: var(--mainPink);
}

/* End of header*/

/* Home */
#home {
    background: url("img/headerBcg.jpeg") center/cover fixed;
    width: 100%;
    height: calc( 100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#home .title {
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--mainWhite);
}

#home .title span {
    color: var(--mainPink);
    font-size: 6rem;
}

.btn {
    font-size: 2.5rem;
    border: 4px solid var(--mainBlack);
    padding: 8px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.btn:hover {
    background: var(--mainBlack);
    color: var(--mainPink);
}
/* End of Home */

/* About */

/* End of About */

.about {
    background: lightblue;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: none;
}


.about-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about-text, .about-image {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.about-image {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.about-image-container {
    position: relative;
    transition: all 1s east-in-out;
}

.about-image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    flex: 1 1 auto;
    position: relative;
}

.about-image-container::before { 
    content: "";
    outline: 0.5rem solid yellow;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    transition: all 1s ease-in-out;
}

.about-image-container:hover::before { 
    top: 0;
    left: 0;
}

.about-text {
    padding-right: 5rem;
    padding-left: 5rem;
}

.about-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-text h1 span {
    font-size: 4rem;
    color: var(--mainPink);
    font-weight: 800;
}

.about-text p {
    color: #888;
    margin-top: 15px;
    margin-bottom: 35px;
}

.btn {
    border: 1px solid var(--mainBlack);
    font-size: 1rem;
    color: var(--mainBlack);
}

.store-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-container h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 15px;
}

h1 span {
    font-size: 4rem;
    font-weight: 700;
    color: var(--mainPink);

}

.buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 700px;
}

.text-filter { display: flex; margin-top: 15px; margin-bottom: 15px;}

.text-filter span {
    padding: 8px 12px;
    font-size: 1.5rem;
    background-color: var(--mainPink);
}

input[type="text"] {
    padding: 12px;
    font-size: 1.3rem;
    font-family: 'Kaushan Script', cursive;
    outline: none;
    border: 1px #888 solid;
    width: 500px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 30px;

}

.image {
    max-width: 300px;
    cursor: pointer;
    position: relative;
  
}

.image-container {
    overflow: hidden;
    position: relative;
}


.image img {
    width: 100%;
    height: auto;
    transition: all 1s ease-in-out;
    vertical-align:middle;
}

.image:hover img {
    transform: scale(1.5);
}

.image:hover .store-item-icon {
    transform: translate(0,0);
}


.image .metadata {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color : var(--mainWhite);
    width: 100%;
}

.store-item-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(100%, 100%);
    transition: all 1s ease-in-out;
    background: yellow;
    padding: 10px;
    border-top-left-radius: 10px;
}

.modal {
    position: fixed;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rotate-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-size: 3rem;
    border: 1px solid black;
}



.current-image {
    background-size: cover;
    background-image: url(img/cake-3.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}


.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    padding: 5px 20px;
    transform: translate(0, -100%);
    font-size: 2rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.close-btn:hover {
    background: var(--mainPink);
    color: var(--mainWhite);
}

.rotate-btn {
    cursor: pointer;
}

.rotate-left {
    transform: translate( -100%, 0);
}

.rotate-right {
    transform: translate(100%, 0);
}

